.home-container {
    background-color: rgba(59, 76, 202, 0.8); /* #3B4CCA with 80% opacity */
    color: white; /* Text color to stand out on dark background */
    padding: 20px;
    border-radius: 8px; /* Optional: rounded corners */
    max-width: 1500px;
    height: 700px;
    margin: 50px auto;
    text-align: center;
}
