.input-form-container {
    background: url("../assets/container-background.jpg") no-repeat center center;
    background-size: cover;
    flex: 1; /* Allow flexible width */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-left: 10px; /* Space between form and intro */
    box-sizing: border-box;
}

/* Responsive styles */
@media (max-width: 768px) {
    .input-form-container {
        margin-left: 0;
    }
}
