.input-form-container {
    background: url('../assets/container-background.jpg') no-repeat center center;
    background-size: cover;
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    width: 50%;
    margin: 100px auto 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    right: 0;
    text-align: center;
}

.input-form-container input,
.input-form-container select,
.input-form-container button {
    width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-form-container button {
    background-color: #ffcb05;
    color: #b22222;
    font-weight: bold;
    font-family: 'PokemonSolid', sans-serif;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.input-form-container button:hover {
    background-color: rgb(239, 238, 157); 
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .input-form-container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
        right: auto;
    }

}