.intro-container {
    background-image: url("../assets/container-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    position: relative; /* Required for inner elements */
    color: white;
}

.intro-container .text-highlight {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black highlight */
    padding: 10px;
    border-radius: 5px;
    display: inline-block; /* Ensures padding adjusts only around text */
}


/* Responsive styles */
@media (max-width: 768px) {
    .intro-container {
        margin-right: 0;
        margin-bottom: 20px; /* Space between stacked components */
    }
}
