.welcome-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  padding: 0 40px;
}

.welcome-content {
  display: block;
  align-items: left;
}

.welcome-title {
  display: block;
  max-width: 79%;
  margin-top: 180px;
}

.get-started-button {
  display: block;
  padding: 12px 22px;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Adds a subtle shadow to the text */
  background-color: #ff0000; /* Pokémon red */
  border: none;
  margin-left: 300px;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'PokemonSolid', sans-serif; /* Ensure font aligns with theme */
  text-transform: uppercase;
  transition: transform 0.2s, background-color 0.2s ease;
}


.get-started-button:hover {
  background-color: #cc0000; /* Darker red on hover */
  transform: scale(1.1);
}

.get-started-button:active {
  transform: scale(0.95);
}